name: Pages

on:
  push:
    branches:
      - master # default branch
  repository_dispatch:
    types: [ theme-push, web-design-course-design-push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Blog
        uses: actions/checkout@v6
      - name: Checkout Theme
        uses: actions/checkout@v6
        with:
          repository: lushihuan/hexo-theme-next
          path: themes/next
      - name: Checkout Web Design Course Design
        uses: actions/checkout@v6
        with:
          repository: lushihuan/web-design-course-design
          path: themes/next/source/网页设计课程设计
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          # Examples: 20, 18.19, >=16.20.2, lts/Iron, lts/Hydrogen, *, latest, current, node
          # Ref: https://github.com/actions/setup-node#supported-version-syntax
          node-version: "22"
      - name: Cache NPM dependencies
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.OS }}-npm-cache
          restore-keys: |
            ${{ runner.OS }}-npm-cache
      - name: Install Dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
